div{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    
}


#prod{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box; /* Per includere il padding e il bordo nelle dimensioni */ 
    max-width: 320px;
    font-family: Arial, sans-serif;
}